.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#audio,#video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

svg{
    margin-left:2px;
    filter: drop-shadow(0 0 18px rgba(255, 255, 255, 0.9));
    color: #1b122e;
}
h1{
    filter: drop-shadow(0 0 18px rgba(255, 255, 255, 0.9));
}
.logo{
 width: 75px;
 height: 75px;
 border-radius: 50px;
 opacity: 0.789;
 filter: drop-shadow(0 0 18px rgba(255, 255, 255, 0.9));
}
.music{
    display:none;
}
.click{
    height:100%;
    background-color:black;
    position: absolute;
    width:100%;
    z-index:12;
    align-items:center;
    align-content:center;
    vertical-align: middle;
}
h2{
    color:white;
    font-family: "Poetsen One";
    align-self: center;
}
.video{
    display:none;
}
h3{
    color:white;
    align-self:center;
    align-items:center;
    align-content:center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: "Poetsen One";
    
    filter: drop-shadow(0 0 18px rgba(255, 255, 255, 0.9));
    background: linear-gradient(
        90deg,
        #ff0000,
        #ff7f00,
        #ffff00,
        #00ff00,
        #00ffff,
        #0000ff,
        #8b00ff,
        #ff0000
    );
    background-size: 400% 400%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    animation: rainbowMove 4s linear infinite;
}
h1{
    color: white;
    font-family: "Poetsen One";
}
p{
    font-family: "Poetsen One";
}
.center{
  border-radius:20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: rgba(48, 42, 56, 0.3);
  background-color: rgba(74, 51, 102);
  max-width: 420px;
  width: 90%;
}

.rain {
    position: fixed;
    top: -10%;
    left: 50%; 
    width: 2px;
    height: 30px;
    background: linear-gradient(transparent, #ffffff);
    opacity: 0.7;
    animation: fall 1.5s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(110vh); 
    }
}
